/*-- scss:defaults --*/

// Base colors
$primary: #375a7f;
$secondary: #626c84;
$success: #00bc8c;
$info: #3498db;
$warning: #f39c12;
$danger: #e74c3c;
$light: #eee;
$dark: #222;

// Body
$body-bg: #222;
$body-color: #eee;

// Links
$link-color: #00bc8c;

// Font families
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace: "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;


// nav-bar
$navbar-bg: $secondary;